parameters:
  inferPrivatePropertyTypeFromConstructor: true
  # VariablePlaceholderCollection implements \Iterator, additional generic hinting needed. TBC.
  checkGenericClassInNonGenericObjectType: false
